body {
  background-color: #727272;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  background-color: #fff;
}

.content {
  float: right;
  width: 69%;
  margin: 0;
  padding: 20px;
}

.profile-pic {
  width: 250px;
  float: right;
  margin: 5px 20px;
}

.clearfix::after{
  content: "";
  clear: both;
  display: inline-block;
}

header {
  text-align: center;
  font-size: 1.3em;
  background-color: #ebebeb;
}

header h1 {
  margin: 0;
  margin-bottom: 15px;
  padding: 20px;
}

nav {
  display: inline-block;
  width: 20%;
  margin: 0px 2%;
  position: fixed;
  text-align: center;
  border-radius: 3px;
}

nav h3 {
  font-size: 1.3em;
  text-decoration: overline;
}

nav ul {
  padding: 0;
  width: 100%;
}

nav li, nav a{
  list-style: none;
  width: 100%;
  color: black;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

nav li:hover{
  background-color: #727272;
  color: white;
}

footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  clear: right;
  background-color: #ebebeb;
  position: relative;
  bottom: -18px;
}
